.hot {
	background:#ff7a60;
}

.inline-list {
	margin: 2em;
	width: 80%;
	padding: 5px;
}

.inline-list p {
	display: inline;
}

.inline-list ul, .inline-list li {
	display: inline;
	margin: 0;
	padding: 0;
}

/* TABLES */
/* 
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com
*/
table, dl { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
}
caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 padding:6px 4px 8px 4px;
}
td, th, dt, dd { color:#363636;
 padding:.4em;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
tbody td a { color:#363636;
 text-decoration:none;
}
tbody td a:visited { color:gray;
}
tbody td a:hover { text-decoration:underline;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { color:#363636;
}
tbody td+td+td+td a {
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
tbody td+td+td+td a:visited {
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { text-align:left;
 vertical-align:top;
}
tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}





/* -----------------------------------------------------------------------


 Tabs Plugin 0.1 for the Blueprint CSS Framework
 http://blueprintcss.org

   * Copyright (c) 2008-Present. Refer to the main Blueprint license.
   * See README for instructions on how to use this plugin.
   * For credits and origins, see AUTHORS.

----------------------------------------------------------------------- */

.tabs { 
	border-bottom:1px solid #ccc;
	height:1%; /* fixing IE 6 */
	margin:0 0 .75em 0;
	min-height:auto;
	overflow:auto;
}
.tabs li {
  border:1px solid #ccc;
  border-bottom:none;
  float:left;
  line-height:1.5; 
  list-style-type:none;
  margin:0 .25em 0 0;
  padding:0;
}
.tabs li a { 
	background:#ddd;
  border:1px solid #eee;
  border-bottom:none;
  color:#222;
  cursor:pointer;
  display:block;
  float:left;
  font-weight:bold;
  padding:.15em .33em .25em .33em;
}
.tabs li a.selected { 
  background:#666;
  border:1px solid #666;
  border-bottom:none;
  color:#fff;
  cursor:default;
}
.tabs li a, .tabs li a:focus, .tabs li a:hover { 
  text-decoration:none;
}
.tabs li a:focus, .tabs li a:hover { 
  color:#555;
  outline:none;
}
.tabs li a.selected:focus, .tabs li a.selected:hover { 
  color:#fafafa;
}	
.tabs li.label { 
	border:none;
	font-weight:bold;
	line-height:1.5; 
	margin-right:.5em; 
	padding:.25em .33em .25em .33em;
}